<div class="hero-unit">
  <h1>Good Luck With That</h1>
  <p class="descrip">A place to track all the things you'll never get around to doing.</p>
  <p class="button"><%= link_to "Get Started", new_list_url, :class => "brn btn-primary btn-large" %></p>
</div>
 
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Reason</th>
    <th>Date</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td class="title"><%= link_to list.name, list_path(list) %></td>
        <td><%= list.reason %></td>
        <td><%= list.date %></td>
        <td><%= link_to "Edit", edit_list_path(list) %> | <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>